@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset, img { border:0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal; }
ol, ul { list-style:none; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
q:before, q:after { content:''; }
abbr, acronym { border:0; }
.c-align { text-align:center; }
.clear { clear:both; }
.l { float:left; }
.r { float:right; }
body { font-size:12px; color:#000; font-family:Arial; margin:0; padding:0; text-align:left; }
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }/* Hides from IE-mac \*/
* html .clearfix { height:1%; }
.clearfix { display:block; }/* End hide from IE-mac */
a { color:#014a8f; text-decoration:none; }
a:hover { color:#e75201; text-decoration:underline; }
#wrapper { width:986px; text-align:left; }
#main{ margin-top:10px;}
#usrbar { position:absolute; right:9px; top:4px; +top:3px;
zoom:1; text-align:right; font:12px Arial; color:#000; line-height:18px; z-index:65000; }
#usrbar .usrbar-inner { z-index:65002; }
#usrbar img { border:none; }
#usrbar a { color:#00c; margin-left:6px; text-decoration:underline; }
#usrbar ul { list-style-type:none; }
#usrbar li { float:left; }
#usrbar .uname { font-weight:700; }
#usrbar .line { display:inline; width:1px; height:12px; overflow:hidden; background:#999; margin:3px 0 0 6px; margin-top:2px\9\0; margin-top:3px\0; color:#999; }
@-moz-document url-prefix() {
#usrbar .line {
margin-top:4px;
}
}
#usrbar .msgs { color:#00c; }
#usrbar .mn-lk-w { position:relative; z-index:65003; }
#usrbar .mn-lk { padding-right:11px; background:url(../images/icon-userbar-mn.png) right 6px no-repeat; }
#usrbar .mn-tip { display:none; position:absolute; z-index:65535; top:20px; top:21px\0; *top:21px;
background:#fff; border:1px solid #999; font-weight:normal; box-shadow:1px 1px 2px #ccc; -moz-box-shadow:1px 1px 2px #ccc; -webkit-box-shadow:1px 1px 2px #ccc; filter:progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color="#cccccc")\9;
text-align:left; color:#888; }
@-moz-document url-prefix() {
#usrbar .mn-tip {
top:22px;
}
}
#usrbar .mn-lk-w-h .mn-tip { display:block; }
#usrbar .mn-tip a { margin-left:0; text-decoration:none; }
#usrbar .mn-tip .mn li { float:left; width:100%; white-space:nowrap; }
#usrbar .mn-tip .mn a { display:block; zoom:1; padding:3px 6px 3px; *padding:4px 6px 2px;
_padding-bottom:1px; text-decoration:none; }
#usrbar .mn-tip .mn a:hover { background:#ebebeb; }
#usrbar .mn-tip .mn .my-info { border-bottom:1px solid #ebebeb; }
#usrbar .mn-tip .mn .logout { border-top:0 solid #ebebeb; }
#usrbar .mn-tip .split { height:1px; overflow:hidden; background:#EBEBEB; }
#usrbar .mn-tip .help { padding:6px; line-height:18px; }
#webimmsg { cursor:pointer; position:relative; }
#im_count { position:absolute; height:17px; top:-4px; left:26px; }
#im_count { background:url(../images/impop.gif) no-repeat top right; }
#im_count b { background:url(../images/impop.gif) no-repeat top left; padding:0 2px 4px 4px; margin-right:2px; display:block; color:#fff; line-height:12px; }
.crumb-nav { margin:8px 0 4px 0; }
.skin-nav { background:#3e8366 url(../images/bg_common_nav.png) repeat-x 0 1px; border:1px solid #3b8466; height:31px; margin:8px 0 10px 0; position:relative; z-index:10; }
.skin-nav .inner { border:1px solid #4f8f74; border-top-color:#539c7e; border-bottom-color:#4a7e67; }
.skin-nav ul { margin:0 0 0 12px; }
.skin-nav li { background:url(../images/shop-nav_item_green.png) no-repeat right bottom; float:left; height:29px; line-height:29px; top:2px; padding:0 28px 0 26px; position:relative; z-index:100; }
.skin-nav li.last { background:none; }
.skin-nav a, .skin-nav a:link, .skin-nav a:visited { display:block; font-size:14px; font-weight:bold; color:#fff; }
.skin-nav a:hover, .skin-nav .current a:link, .skin-nav .current a:visited { background:url(../images/shop-nav_current_white.png) no-repeat scroll 0 0 #FFF; color:#245C45; margin:0 -11px 0 -11px; padding-left:11px; text-decoration:none; }
.skin-nav .current a span { background:url(../images/shop-nav_current_white.png) no-repeat scroll 100% 0 #FFF; padding-right:11px; }
.skin-nav a span { display:inline-block; cursor:pointer; }
.skin-nav a:hover span { background:url(../images/shop-nav_current_white.png) no-repeat scroll 100% 0 #FFF; padding-right:11px; }
#footer { padding:30px 0 15px; line-height:20px; font-size:12px; font-family:Arial, \5b8b\4f53, sans-serif; text-align:center; }
#footer .cr { color:#7a77c8; }
#footer.footer-search { padding:0; margin:20px 0 0 0; height:20px; line-height:20px; background:#E6E6E6; font-size:12px; font-family:Arial, \5b8b\4f53, sans-serif; }
.clear { clear:both; }
.mt10 { margin-top:10px; }
.mt12 { margin-top:12px; }
.ml12 { margin-left:12px; }
.mt4 { margin-top:4px; }
.c { text-align:center; }
.search-box { font:12px arial; padding-bottom:4px; zoom:1; }
.search-box a { color:#00c; text-decoration:underline; }
.search-box form { margin:0; clear:both; position:relative; z-index:0; }
.search-box input { padding:0; }
.search-box .s_nav { height:45px; }
.search-box .s_nav .s_logo { margin-right:20px; float:left; }
.search-box .s_nav .s_logo img { border:0; display:block; }
.search-box .s_nav .s_tab { line-height:18px; padding:20px 0 0; float:left; }
.search-box .s_nav a { font-size:14px; }
.search-box .s_nav b { font-size:14px; }
.search-box .s_ipt_wr { width:550px; height:30px; display:inline-block; margin-right:5px; background:url(../images/bg-wk-search.png) no-repeat -304px 0; border:1px solid #b6b6b6; border-color:#7b7b7b #b6b6b6 #b6b6b6 #7b7b7b; vertical-align:top; }
.search-box .s_ipt { width:540px; height:22px; font:16px/22px arial; margin:5px 0 0 7px; outline:none; background:#fff; border:0; }
.search-box .s_btn { width:95px; height:32px; padding-top:2px\9; font-size:14px; background:#ddd url(../images/bg-wk-search.png); cursor:pointer; border:0; }
.search-box .s_btn_h { background-position:-100px 0; }
.search-box .s_btn_wr { width:97px; height:34px; display:inline-block; background:url(../images/bg-wk-search.png) no-repeat -202px 0; *position:relative;
z-index:0; vertical-align:top; }
.search-box .s_tools { color:#999; padding:8px 0 0 14px; display:inline-block; }
.search-box .s_tools a { margin:0 8px; zoom:1; }
.search-box .g-sl { margin-left:-5px; zoom:1; position:relative; }
.search-box .g-sl input { margin:3px 5px 0 5px; +margin:0 2px 0 0;
}
.search-box .g-sl label { margin-right:12px; +margin-right:13px;
float:left; }
.search-box .s_logo_wr { float:left; width:133px; padding:20px 10px 0 0; }
.search-box .s_control_wr { float:left; width:565px; }
.search-box .s_control_wr .s_nav { height:37px; }
.search-box .s_control_wr .s_nav .s_tab { padding:14px 0 0; }
.search-box .s_control_wr .s_ipt_wr { width:408px; height:26px; background:url(../images/bg-wk-search-28.png) no-repeat -304px 0; }
.search-box .s_control_wr .s_ipt { width:395px; height:18px; font:16px/18px arial; }
.search-box .s_control_wr .s_btn { height:28px; background:#ddd url(../images/bg-wk-search-28.png); }
.search-box .s_control_wr .s_btn_h { background-position:-100px 0; }
.search-box .s_control_wr .s_btn_wr { height:30px; background:url(../images/bg-wk-search-28.png) no-repeat -202px 0; }
.search-box .s_control_wr .s_tools { padding:8px 0 0 6px; }
.page-nav { clear:both; line-height:22px; overflow:hidden; zoom:1; white-space:nowrap; text-align:center; zoom:1; }
.page { float:left; padding:20px 0 9px 0; font-size:13px; font-family:Arial, \5b8b\4f53, sans-serif; }
.page a, .page span { float:left; width:23px; height:22px; margin-right:5px; line-height:22px; overflow:hidden; border:1px solid #e7ecf0; background:#fff; text-decoration:none; text-align:center; }
.page a:hover { background:#e9f1f7; text-decoration:none; color:#0000cd; }
.page .cur { width:25px; border:none; background:none; font-weight:700; color:#000; }
.page .els { width:15px; border:none; color:#0000cd; background:none; }
.page .first, .page .last { width:41px; *line-height:24px;
line-height:24px\9\0; }
.page .pre, .page .next { width:60px; line-height:23px; _line-height:24px; line-height:24px\9\0; font-family:\5b8b\4f53; }
.page .last { display:none; }
.nums { float:right; margin-left:65px; font-size:12px; color:#999; }
.page-center .page-inner { float:left; position:relative; left:50%; }
.page-center .page { position:relative; right:50%; }
.page-center .nums { margin-left:290px; }
.box { border:1px solid #acd1eb; padding:3px; background:#e7f2f9; zoom:1; }
.box .content { background:#fff; padding:10px; }
.public h2 { font-weight:bold; }
.box .more, #public .more { font-size:12px; float:right; font-weight:normal; margin-right:3px; }
#public .more { margin-right:16px; }
.bbox { margin-top:-1px; }
.bbox1 { margin-top:4px; }
.upbox { border:1px solid #d5e8f5; padding:3px; background:#f3f8fc; zoom:1; }
.upbox .content { background:#fbfdff; padding:19px 10px 16px 10px; }
.albumbtn { display:block; width:175px; height:42px; margin:0 auto; cursor:pointer; }
.bai { position:relative; width:100%; }
.bc0 { background:#FFF none repeat scroll 0 0; margin:3px; margin-top:0; padding:10px; }
.rc { zoom:1; }
.rc1, .rc2, .rc3, .rc4, .rc5 { height:1px; overflow:hidden; font-size:0; margin:0 1px; border:0 solid #000; }
.rc1 { margin:0 3px; }
.rc5, .rc2 { border-width:0 2px; }
.rc4, .rc3 { border-width:0 1px; }
.rc h2, .box h2 { font-size:14px; color:#000; margin-left:12px; }
.rc h2 { height:24px; line-height:24px; }
.box h2 { margin:0; font-weight:bold; }
.box h2 a:hover, .rc h2 a:hover { color:#014a8f; }
.rgg { border:1px solid #acd1eb; border-top:none; }
.rgg_1, .rgg_2, .rgg_3, .rgg_4, .rgg_5 { border-color:#acd1eb; }
.rgg_1 { background:#acd1eb; }
.rgg, .rgg_4, .rgg_5, .rgg_2, .rgg_3 { background:#e7f2f9; }
.rg { border-left:1px solid #acd1eb; border-right:1px solid #acd1eb; zoom:1; padding-bottom:1px; background:#e7f2f9; padding:25px 0 20px 25px; }
.rg_1, .rg_2, .rg_3, .rg_4, .rg_5 { height:1px; overflow:hidden; font-size:0; margin:0 1px; border:0 solid #acd1eb; }
.rg_1 { background:#acd1eb; margin:0 3px; }
.rg_5, .rg_2 { border-left-width:2px; border-right-width:2px; }
.rg_4, .rg_3 { border-left-width:1px; border-right-width:1px; }
.rg_4, .rg_5, .rg_2, .rg_3 { background:#e7f2f9; }
.pop_btn_short { background:transparent url(../images/bg_popbtn.gif) no-repeat scroll 0 -37px; border:medium none; color:#2F5124; font-size:14px; font-weight:bold; height:32px; width:92px; margin-top:4px; cursor:pointer; }
.pop_btn_short_gray { background:transparent url(../images/bg_popbtn_gray.gif) no-repeat scroll 0 -37px; border:medium none; color:#2F5124; font-size:14px; font-weight:bold; height:32px; width:92px; margin-top:4px; cursor:pointer; }
.pop_btn_long { width:104px; height:32px; font-size:14px; font-weight:bold; color:#2f5124; border:none; background:url(../images/bg_popbtn.gif) no-repeat 0 -74px; cursor:pointer; }
.upload { display:block; width:158px; height:36px; background:url(../images/cate-icons.png) no-repeat -296px -114px; margin:0 auto; cursor:pointer; }
.upload_over { background:url(../images/cate-icons.png) no-repeat -296px -165px; }
.lecupload { display:block; width:175px; height:42px; background:url(../images/lec_upload_btn.png) 0 0 no-repeat; margin:0 auto; cursor:pointer; }
.lecupload_over { background:url(../images/lec_upload_btn.png) 0 100% no-repeat; }
.icon { background:url(../images/icons.gif) -1000px -1000px no-repeat; padding:2px 10px; zoom:1; font-size:12px; cursor:default; }
.hot { padding:2px 10px; background-position:-34px -30px; }
.new { padding:2px 10px; background-position:-2px -30px; }
.newred { padding:1px 10px 0 10px; background-position:-64px -139px; }
.xls, .xlsx { background-position:-105px 1px; }
.ppt, .pptx { background-position:-139px 1px; }
.doc, .docx { background-position:-72px 1px; }
.txt { background-position:-36px 1px; }
.pdf { background-position:0 1px; }
.vsd { background-position:-173px 1px; }
.rtf { background-position:-140px -27px; }
.pot { background-position:-209px -27px; }
.pps { background-position:-209px 1px; }
.wps { background-position:-106px -26px; }
.et { background-position:-73px -26px; }
.dps { background-position:-174px -27px; }
.epub { background-position:-42px -142px; }
.album { background:url(../images/album_btns.gif) no-repeat -154px -65px; }
.num1 { background-position:0 -96px; padding:3px 7px; }
.num2 { background-position:-25px -96px; padding:3px 7px; }
.num3 { background-position:-50px -96px; padding:3px 7px; }
.num4 { background-position:-75px -96px; padding:3px 7px; }
.num5 { background-position:-100px -96px; padding:3px 7px; }
.dl { background-position:-202px -70px; }
.cang { background-position:-201px -92px; }
.share { background:url("../images/shareDocUI.gif") no-repeat -356px -3px; }
.album { background:url("../images/album_btns.gif") no-repeat -155px -44px; }
.edit-class { background-position:-139px -74px; cursor:pointer; }
.edit-class-disable { background-position:-139px -96px; }
.edit-title { background-position:-118px -74px; cursor:pointer; }
.edit-title-disable { background-position:-118px -96px; }
.edit-summary { background-position:-160px -74px; cursor:pointer; }
.edit-summary-disable { background-position:-160px -96px; }
.edit-price { background-position:-180px -74px; cursor:pointer; }
.edit-price-disable { background-position:-180px -96px; }
.edit-kw { background-position:-118px -74px; cursor:pointer; display:inline-block; height:16px; }
.star-small-off { padding:2px 6px; background-position:-68px -120px; font-size:12px; }
.star-small-on { padding:2px 6px; background-position:-86px -120px; font-size:12px; }
.star-small-half { padding:2px 6px; background-position:-104px -120px; font-size:12px; }
.star-big-off { padding:2px 8px; background-position:-2px -121px; }
.star-big-on { padding:2px 8px; background-position:-23px -121px; }
.star-big-half { padding:2px 8px; background-position:-45px -121px; }
.arr_up { background-position:0 -75px; }
.arr_down { background-position:-23px -75px; }
.arr_stay { background-position:-48px -75px; }
.arr_new { background-position:-74px -75px; }
.daren_icon { background-position:-159px -118px; }
.mingren_icon { background-position:-134px -120px; }
.class_arr { background-position:-202px -50px; }
.small_score { background-position:-80px -50px; }
.big_score { background-position:-56px -52px; }
.sort { background-position:-225px -51px; padding:2px 7px; vertical-align:top; }
.f-grey { color:#757575; }
.hd { font-size:14px; }
.hd b, .hd span { float:left; }
.hd span.r { float:right; color:#dedddd; }
.hd .r { font-size:12px; }
.cd { font-size:12px; zoom:1; }
.dot li { background:url(../images/li_dot.gif) 0 center no-repeat; text-indent:10px; }
.rank { background:url(../images/rank-bar.png) no-repeat 0 0; text-indent:25px; line-height:25px; }
.rank-tab .tab-on { background:#FAFAFA; border-bottom:0 solid #DFDFDF; border-top:2px solid #31845f; color:#000; }
.rank-tab { float:left; padding-bottom:10px; }
.rank-tab li { cursor:pointer; float:left; font-size:12px; height:23px; line-height:25px; text-align:center; padding:0 14px; background:#fafdfc; color:#626262; border-bottom:1px solid #95c3bd; }
.tab-1 { border-left:1px solid #95c3bd; border-right:1px solid #95c3bd; border-top:1px solid #c9dad8; }
.tab-2 { border-top:1px solid #c9dad8; border-right:1px solid #c9dad8; border-bottom:1px solid #95c3bd; }
.tab-3 { border-bottom:1px solid #95C3BD; border-right:1px solid #C9DAD8; border-top:1px solid #C9DAD8; }
.tab-.skin-hotcateer-bottom:1px solid #95c3bd;
}
.tab-1, .tab-2, .tab-3 { width:35px; }
#leftlistbom_tab_1, #leftlistbom_tab_3 { width:auto; }
.skin-hotcate .cd { padding:0 32px; }
.hot-cate { clear:both; border-bottom:1px solid #f2f2f2; margin:3px 0 0 0; padding:0 0 5px 0; zoom:1; }
.no-b { border:none; }
.cate-title { font-size:16px; font-weight:bold; line-height:30px; float:left; color:#000; }
.cate-title a, .cate-title a:hover { color:#333; text-decoration:none; }
.cate-items { float:left; width:228px; margin-bottom:11px; height:18px; overflow:hidden; }
.cate-items dt { font-size:14px; color:#0455a1; float:left; margin-right:5px; font-weight:bold; }
.cate-header { margin-bottom:5px; }
.cate-tips { display:inline-block; height:23px; line-height:23px; background:url(../images/tips.png) no-repeat 0 0; padding-left:14px; margin-left:5px; color:#ff8200; float:left; position:relative; top:-1px; zoom:1; +position:static;
}
.cate-tips .inner { display:inline-block; height:23px; line-height:23px; background:url(../images/tips.png) no-repeat right top; padding-right:10px; float:left; }
.cate-tips a, .cate-tips a:hover { color:#ff8300; }
.cate-content { clear:both; }
.cate-items dd { float:left; position:relative; top:1px; zoom:1; +position:static;
}
.cate-items dd a { margin-right:5px; +margin-right:4px;
color:#3e3e3e; }
.cate-items dd a.hot-spot { color:#e67201; }
.cate-items dd a:hover { color:#e67201; }
.cate-block { border-bottom:1px solid #f2f2f2; padding-bottom:10px; }
.icon-more { background:url(../images/icon-more.png) no-repeat right center; background-image:url(../images/icon-more-hack.png)\9; +background-image:url(../images/icon-more.png);
_background-image:url(../images/icon-more-hack.png); padding-right:7px; }
.i-more { display:inline-block; width:0; height:0; border:3px solid transparent; border-left-color:#0455a1; margin-left:5px; }
.public ul { list-style:none; }
.public li { margin:6px 0; background:url(../images/li_dot.gif) 0 6px no-repeat; padding-left:10px; position:relative; }
.public li a { font-size:14px; }
.multi-list-moudle td { padding-top:10px; }
.multi-list-moudle a { font-size:14px; }
.multi-list-moudle .a-f12 a { font-size:12px; }
.multi-list-moudle p { margin-top:4px; }
.multi-list-moudle p span { color:#888; }
.multi-list-moudle .f-blue { color:#6d99b2; }
.m20 td { padding-bottom:5px; }
.reward table { table-layout:fixed; }
.reward th { color:#333; font-weight:normal; }
.reward td, .reward th { padding:5px 0; }
.reward .un { word-wrap:break-all; word-break:break-all; }
.reward .un a { font-size:14px; }
.reward .score { color:#888; }
.reward td div { width:100px; }
a.album-btn { width:175px; margin:0 auto; display:block; background:url("../images/album_btns.gif") no-repeat scroll 0 0 transparent; }
a.album-btn:hover { background:url("../images/album_btns.gif") no-repeat scroll 0 -141px transparent; }
a.upload-btn { background:url(../images/cate-icons.png) no-repeat -296px -114px; width:158px; height:36px; display:inline-block; }
a.upload-btn:hover { background:url(../images/cate-icons.png) no-repeat -296px -165px; }
.subject { border-bottom:1px solid #ccc; line-height:180%; position:relative; font-size:12px; text-align:left; }
.subjectList { padding:0 0 20px 0; }
.subject_title { background:#ebebeb; padding:0 50px 0 10px; height:20px; }
.subject { height:20px; }
.subject span { position:absolute; right:5px; top:0; }
.subject a { display:block; padding:0 50px 0 10px; }
.subject a:hover { background:#ffc; }
.subject span.del { width:20px; height:20px; background:url(../images/del.gif) no-repeat; cursor:pointer; }
.subject-tab { border:1px solid #ccc; padding:0 10px; line-height:20px; height:20px; margin-right:5px; float:left; background:#fff; }
.org-port { float:left; margin:0; width:100%; }
.org-port dt { float:left; width:50px; height:40px; background:url(../images/org_btns.gif) -246px -4px no-repeat; }
.org-port dd { float:left; margin-left:5px; width:170px; line-height:18px; text-align:left; margin-top:0; font-size:12px; }
.org-port dd a { font-size:14px; }
.org-port dd span { color:#ee8915; font-size:15px; font-family:"黑体"; font-weight:bold; }
.shop-navmod { background:url(../images/shop-navmod_blue.png) repeat-x 0 0; height:33px; margin:8px 0 10px 0; position:relative; z-index:10; }
.shop-navbox .shop-nav { float:left; margin:4px 0 0 16px; }
.shop-navbox .shop-na { float:left; margin:4px 0 0 16px; }
.shop-nav li { background:url(../images/shop-nav_item_green.png) no-repeat right bottom; float:left; height:29px; line-height:29px; margin-left:-2px; padding:0 28px 0 26px; position:relative; z-index:100; }
.shop-nav li.nav-arrow { background:url(../images/nav-arrow-bg.png) no-repeat right bottom; padding-right:32px; height:29px; }
.shop-nav li a span { display:inline-block; cursor:pointer; }
.shop-nav li.nav-arrow a { color:#fff; }
.shop-nav li.nav-arrow a:hover, .shop-nav li.nav-arrow a:acitve {
color:#245C45;
}
.shop-nav a:hover, .shop-nav .current a:link, .shop-nav .current a:visited { background:url("../images/shop-nav_current_white.png") no-repeat scroll 0 0 #FFF; color:#245C45; margin:0 -11px 0 -11px; padding-left:11px; text-decoration:none; }
.shop-nav li.current a.nav-global:hover { background:url("../images/shop-nav_current_white.png") no-repeat scroll 0 0 #FFF; color:#245C45; }
.shop-nav a.nav-global:hover { background:url("../images/shop-nav_current_green.png") no-repeat scroll 0 0 #FFF; color:#245C45; margin:0 -11px 0 -11px; padding-left:11px; text-decoration:none; }
.shop-nav a.nav-global:hover span { background:url(../images/shop-nav_current_green.png) no-repeat 100% 0 #FFF; padding-right:11px; }
.shop-nav li.nav-tab-on a.nav-global { background:url("../images/shop-nav_current_green.png") no-repeat scroll 0 0 #FFF; color:#245C45; margin:0 -11px 0 -11px; padding-left:11px; text-decoration:none; position:relative; z-index:6; }
.shop-nav li.nav-tab-on a.nav-global:hover { background:url("../images/shop-nav_current_green.png") no-repeat scroll 0 0 #FFF; position:relative; z-index:6; }
.shop-nav li.nav-arrow a.nav-global:hover, .shop-nav .current a.nav-global, .shop-nav li.nav-arrow .current a.nav-global:link, .shop-nav li.nav-arrow .current a.nav-global:visited, .shop-nav li.nav-tab-on a.nav-global { margin:0 -18px 0 -11px; }
.shop-nav a:hover, .shop-nav .current a, .shop-nav .current a:link, .shop-nav .current a:visited { color:#245C45; }
.shop-nav a:hover span { background:url("../images/shop-nav_current_white.png") no-repeat scroll 100% 0 #FFF; padding-right:11px; }
.shop-nav .current a span { background:url("../images/shop-nav_current_white.png") no-repeat scroll 100% 0 #FFF; padding-right:11px; }
.shop-nav .current a:hover span { background:url("../images/shop-nav_current_white.png") no-repeat scroll 100% 0 #FFF; padding-right:11px; }
.shop-nav li.nav-arrow a:hover span { background:url(../images/shop-nav_current_arrow_green.png) no-repeat 100% 0 #FFF; padding-right:18px; }
.shop-nav li.nav-tab-on a span { background:url(../images/shop-nav_current_arrow_green.png) no-repeat 100% 0 #FFF; padding-right:18px; }
.shop-nav a span { display:block; }
.shop-nav li.nav-tab-on .nav-box a { display:inline-block; font-size:12px; background:none; color:#0455a1; font-weight:normal; margin:0; padding:0; width:66px; }
.shop-nav li.nav-arrow .nav-box a:hover, .shop-nav li.nav-tab-on .nav-box a:hover { margin:0; padding:0; color:#F98200; text-decoration:underline; }
.shop-nav li.nav-tab-on { z-index:101; }
.shop-nav a, .shop-nav a:link, .shop-nav a:visited { display:block; font-size:14px; font-weight:bold; color:#fff; }
.shop-nav a:hover { color:#245C45; }
.nav-box { position:absolute; border:1px solid #2a654d; left:15px; padding:5px; background:#FBFFFE; z-index:5; width:200px; margin-top:-1px; }
.nav-box .more { float:right; width:auto; display:inline; line-height:29px; height:29px; }
.nav-box p { clear:both; float:left; width:494px; padding-left:6px; }
.area-box-w { width:165px; padding:10px 10px 10px 12px; }
.cate-box-w { width:500px; padding:5px; }
.bg-blue { background:#fff; }
.shop-nav .nav-box a.f-red { color:red; }
.shop-nav { overflow:inherit; }
.nav-box .l { padding:0; float:left; }
.shop-nav li.nav-arrow a b { font-weight:bold; }
.wenku-icon-new { display:inline-block; *display:inline;
*zoom:1;
background:url(../images/wenku_new_icon.gif) no-repeat 0 0; font-size:0; width:22px; height:12px; overflow:hidden; }
#nav-join a { position:relative; }
#nav-join .wenku-icon-new { position:absolute; }
#nav-join a .wenku-icon-new { right:-18px; _right:10px; top:-5px; }
#nav-join a:hover .wenku-icon-new { right:-7px; _right:10px; top:-5px; }
#shop-nav .has-icon .wenku-icon-new { right:-7px; _right:10px; top:-5px; }
#shop-nav .has-icon a:hover .wenku-icon-new { right:-7px; _right:10px; top:-5px; }
.skin-nav { background:#3e8366 url(../images/bg_common_nav.png) repeat-x 0 1px; border:1px solid #3b8466; height:31px; margin:8px 0 10px 0; position:relative; z-index:10; }
.skin-nav .inner { border:1px solid #4f8f74; border-top-color:#539c7e; border-bottom-color:#4a7e67; }
.skin-nav ul { margin:0 0 0 12px; }
.skin-nav li { background:url(../images/bg_common_nav_item.png) no-repeat right 6px; float:left; height:29px; line-height:29px; top:2px; padding:0 28px 0 26px; position:relative; z-index:100; }
.skin-nav li.last { background:none; }
.skin-nav a, .skin-nav a:link, .skin-nav a:visited { display:block; font-size:14px; font-weight:bold; color:#fff; }
.skin-nav a:hover, .skin-nav .current a:link, .skin-nav .current a:visited { background:url(../images/shop-nav_current_white.png) no-repeat scroll 0 0 #FFF; color:#245C45; margin:0 -11px 0 -11px; padding-left:11px; text-decoration:none; }
.skin-nav .current a span { background:url(../images/shop-nav_current_white.png) no-repeat scroll 100% 0 #FFF; padding-right:11px; }
.skin-nav a span { display:inline-block; cursor:pointer; }
.skin-nav a:hover span { background:url(../images/shop-nav_current_white.png) no-repeat scroll 100% 0 #FFF; padding-right:11px; }
.mb10 { margin-bottom:10px; }
.mb20 { margin-bottom:20px; }
.mb30 { margin-bottom:30px; }
.mt5 { margin-top:5px; }
.mt20 { margin-bottom:10px; }
.rank-tab li { padding:0; width:64px; }
#user-build .rank-tab li { padding:0; width:97px; }
#wrapper { width:986px; margin:0 auto; font-size:12px; line-height:18px; }
#wrapper:after, .hot-img:after, .cd:after, .cate-doclist:after, .clearafter:after { content:"."; clear:both; display:block; height:0; visibility:hidden; }
#all-category { width:178px; float:left; }
#hot-recommend { width:568px; float:right; }
.banner img { width:755px; }
#aside { width:228px; border:1px solid #e5e5e5; float:right; margin-left:-1px; background:#fafafa; padding-top:15px; }
.f-grey { color:#626262; }
.f-green { color:#245c45; }
.f-orange { color:#e87301; }
a.black { color:#000; }
.scroll-text { line-height:180%; }
.scroll-text p { padding:5px 0; border-bottom:1px dotted #b8c7c3; width:100%; height:35px; }
.share-title { font-family:微软雅黑; font-size:15px; font-weight:bold; margin-top:17px; }
.share-button { width:100%; }
.share-number { color:#888; line-height:24px; margin:7px 0 1px 0; +margin:7px 0 5px 0;
_margin:7px 0 2px 0; text-align:center; }
.doc-number { color:#e87301; font-size:20px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; }
a.share-button { width:144px; height:37px; display:block; margin:0 auto; background:url(../images/share-buttons.png) no-repeat 0 0; }
a.share-button:hover { background:url(../images/share-buttons.png) no-repeat 0 -37px; }
#categoryArea { background:#ECF9F1 url(../images/focus-img.png) repeat-x 0 0; border:1px solid #c7dfd5; height:220px; padding:146px 20px 0 20px; color:#666; margin-bottom:10px; position:relative; -moz-box-shadow: 0 1px 1px 3px #CCC; -ms-box-shadow: 0 1px 1px 1px #CCC; -o-box-shadow: 0 1px 1px 3px #CCC; -webkit-box-shadow: 0 1px 1px 3px #CCC; box-shadow: 1px 1px 10px #CCC; }
#categoryArea dl { float:left; width:205px; margin-right:0; line-height:150%; padding:0 15px; background:url(../images/cate-line.png) no-repeat right top; }
#categoryArea dl.nobg { background:none; }
.cate-dec { height:55px; }
#categoryArea dt { margin-bottom:24px; background:url(../images/cate-icons.png) no-repeat 0 0; }
#categoryArea dt a { display:inline-block; padding:32px 0 0 48px; }
#categoryArea dt.edu-icon { background-position:-5px -116px; }
#categoryArea dt.ppt-icon { background-position:-5px -164px; }
#categoryArea dt.pro-icon { background-position:-5px -218px; }
#categoryArea dt.form-icon { background-position:-5px -272px; }
#categoryArea dt.edu-icon a, #categoryArea dt.edu-icon a:hover, #categoryArea dt.ppt-icon a, #categoryArea dt.ppt-icon a:hover, #categoryArea dt.pro-icon a, #categoryArea dt.pro-icon a:hover, #categoryArea dt.form-icon a, #categoryArea dt.form-icon a:hover { color:#333; text-decoration:none; }
#categoryArea dd.more { text-align:right; margin-top:22px; }
#categoryArea a.in { width:92px; height:34px; line-height:34px; display:inline-block; color:#245c45; font-size:14px; text-decoration:none; text-align:left; padding-left:20px; font-weight:bold; background:url(../images/cate-icons.png) no-repeat -8px -11px; }
#categoryArea a.in:hover { color:#fff; background:url(../images/cate-icons.png) no-repeat -8px -59px; }
.skin-hot .hot-img dl dd { padding-top:5px; }
.skin-hot .hot-img dl dd.f-grey { padding:0; }
.skin-hot .hd .f-green a { color:#333; font-size:14px; }
.skin-hot .hot { background:url(../images/cate-icons.png) no-repeat -145px -63px; display:inline-block; width:26px; height:15px; padding:0; float:left; }
.hot-img { width:100%; padding-bottom:5px; }
.hot-img dl { float:left; margin-left:35px; display:inline; height:210px; }
.hot-img dl dt { float:left; display:inline; position:relative; }
.hot-img dl dt span { position:absolute; right:2px; bottom:3px; width:1px; height:17px; }
.hot-img dl dt a { border:3px solid #f2f2f2; float:left; }
.hot-img dl dt a:hover { border:3px solid #f37e03; }
.hot-img dl dt a:hover img { border:1px solid #d75303; }
.hot-img dl dt img { float:left; width:100px; height:141px; border:1px solid #9ec7c8; }
.hot-img dl dd { padding-top:5px; clear:both; width:107px; }
.hot-img dl dd a { font-size:14px; }
.hot-img dl dd.f-grey { color:#888; }
.week-star { float:left; margin-bottom:5px; }
.week-star img { float:left; border:1px solid #e3e3e3; }
.week-star dd { float:left; padding-left:8px; width:100px; }
#sidebar-ad { text-align:center; }
#sidebar-ad img { width:197px; height:62px; }
#sidebar-ad .mod { height:60px; font-size:0; }
.clear { clear:both; }
.cate-l { width:163px; float:left; padding-left:9px; text-align:left; }
.hot-keyword { width:100%; height:118px; }
.hot-keyword dt { height:25px; line-height:25px; border-bottom:1px solid #f1f1f1; margin-bottom:12px; font-size:14px; }
.hot-keyword dd a { background:#f8f8f8; padding:0 10px; color:black; padding:0 7px; margin:0 1px 5px 0; text-decoration:none; display:inline-block; }
.hot-keyword dd a:hover { background:#dbeeea; color:black; text-decoration:none; }
.hot-album { width:100%; }
.hot-album dt { height:25px; line-height:25px; border-bottom:1px solid #f1f1f1; margin-bottom:12px; }
.hot-album dt b { font-size:14px; font-weight:normal; }
.hot-album dd { width:100%; line-height:180%; }
.cate-r { width:558px; float:right; text-align:left; padding:0 0 0 6px; }
.cate-doclist { padding:10px 0 0 25px; zoom:1; }
.cate-doclist li { float:left; width:240px; line-height:200%; margin-right:26px; display:inline; }
.org-list { padding:2px 0; text-align:center; }
.org-list img { border:1px solid #c0d9cf; width:160px; height:52px; }
.org-list dd { line-height:22px; }
.skin-category { border:1px solid #c0d9cf; }
.skin-category .hd { height:30px; line-height:30px; background:url(../images/t-green-bg.png) repeat-x 0 0; padding:0 10px; }
.skin-category .cd { background:white; }
.skin-category .inner { background:#ddf3ea; }
.skin-category .hd a { color:#245C45; }
.skin-hot .hd { height:30px; line-height:30px; border-bottom:1px solid #d3d3d3; margin:16px 35px 0 35px; }
.skin-hot .cd { margin:0 3px; background:white; padding:10px 0 0 0; }
.skin-hotcate .cd { padding:10px 20px 0 20px; }
.skin-category-list { border:1px solid #c0d9cf; }
.skin-category-list .hd { font-size:12px; height:31px; line-height:31px; background:url(../images/t-green-list-bg.png) repeat-x 0 0; padding-right:10px; }
.skin-category-list .hd .r a { font-size:13px; }
.skin-category-list .cd { margin:0 3px; background:white; padding:10px 0; }
.skin-category-list .inner { background:#ecf9f3; padding-bottom:3px; border:1px solid white; }
.skin-category-list .f-orange { font-size:16px; }
.skin-upload { border:1px solid #d0e1da; }
.skin-upload .hd { height:30px; line-height:30px; }
.skin-upload .cd { margin:auto 0; }
.skin-upload .inner { background:url(../images/upload-i-bg.png) repeat-x 0 0; border:1px solid white; padding:10px 17px 5px 17px; }
.skin-si { border:1px solid #dcdbdb; }
.skin-si .hd { height:30px; line-height:30px; }
.skin-si .inner { padding:4px 6px; }
.skin-default .hd { height:30px; line-height:30px; }
.skin-default .hd b a { font-size:14px; color:black; }
.skin-default .hd a { font-size:12px; }
.skin-default .cd { margin:0 3px; text-align:left; line-height:180%; zoom:1; border-bottom:1px solid #ebebeb; padding-bottom:15px; }
.skin-default .inner { padding:5px 12px; }
a { color:#0455a1; text-decoration:none; }
a:hover { color:#e67201; text-decoration:underline; }
.cate-menu-box { position:relative; z-index:1; }
.tab-cate { padding:7px 10px; position:relative; z-index:4; }
.tab-cate h2, .tab-cate p { height:18px; position:relative; }
.tab-cate p { background:url(../images/class-arrow.png) no-repeat 152px center; }
.cate-menu-on { border:1px solid #2a654d; padding:6px 9px; border-right:0; background:#fafefc; }
.cate-menu-on p { background:none; }
.cate-menu-box h2 { font-weight:bold; font-size:14px; }
.popup-cate { position:absolute; border:1px solid #2a654d; width:185px; padding:10px 15px; background:#fbfffe; z-index:2; right:-216px; top:0; padding-top:22px; }
.popup-cate ul { float:left; }
.popup-cate ul li { float:left; width:90px; line-height:25px; }
.tangram-carousel { position:relative; overflow:hidden; }
.tangram-carousel .tangram-carousel-scroll { position:absolute; width:100%; }
.tangram-carousel .tangram-carousel-scroll .tangram-carousel-item { position:relative; text-align:left; cursor:pointer; height:55px; }
.tangram-carousel-btn-base { float:left; font-size:0; text-align:center; margin-left:45px; position:absolute; }
.cate-icon { background:url(../images/class-text.png) no-repeat; height:31px; }
.cate-edu { background-position:0 0; width:73px; }
.cate-language { background-position:0 -35px; width:107px; }
.cate-exam { background-position:0 -70px; width:107px; }
.cate-speciality { background-position:0 -105px; width:107px; }
.cate-instrument { background-position:0 -140px; width:107px; }
.cate-literature { background-position:0 -175px; width:107px; }
.cate-life { background-position:0 -210px; width:107px; }
.cate-doc { background-position:0 -245px; height:18px; margin-top:5px; }
#pub a { line-height:170%; zoom:1; font-size:14px; }
#pub .r { font-size:12px; }
.upload-area { position:absolute; right:125px; top:27px; width:175px; text-align:center; }
#SlideDiv { width:100%; overflow:hidden; height:102px; margin-top:15px; }
#SlideDiv #ArrLeft { width:20px; height:58px; display:block; float:left; background:url(img/arr.gif) -25px 0; margin:27px 4px 0 0; }
#SlideDiv #ArrRight { width:20px; height:58px; display:block; float:left; background:url(img/arr.gif) 0 0; margin:27px 0 0 5px; }
#SlideBox p { border-top:1px dashed #ccc; height:40px; line-height:20px; height:40px; padding:5px 0; }
#SlideDiv #SlideBox { width:182px; height:240px; float:left; overflow:hidden; }
#SlideDiv .mask { height:10000px; zoom:1; }
#ScrollBox { width:100%; height:144px; overflow:hidden; }
#ScrollBox li { line-height:24px; }
.tangram-suggestion { cursor:default; width:408px; position:absolute; z-index:9999; background:#fff; border:1px solid #817f82; overflow:hidden; }
.tangram-suggestion table { cursor:default; width:100%; font-size:14px; }
.tangram-suggestion td { font:14px arial; height:25px; line-height:25px; padding:0 8px; font-weight:700; }
.tangram-suggestion td b { color:#333; font-weight:400; }
.tangram-suggestion-current { background:#ebebeb; color:#000; }
.tangram-suggestion-prepend { padding:0; color:#c0c0c0; font:12px verdana; }
.tangram-suggestion-append { height:23px; line-height:23px; text-align:right; border-top:1px solid #ebebeb; padding:0 8px; color:#c0c0c0; font:12px verdana; text-align:right; display:none; }
.tangram-suggestion-append a { font-size:12px; text-decoration:underline; color:#888; line-height:22px; }
.tangram-suggestion-main { z-index:99; text-align:left; }
@-moz-document url-prefix() {
.tangram-suggestion {
margin-left:1px;
}
}
#shadowDiv { display:none; width:100%; height:100%; position:absolute; top:0:left:0;

background:#000; filter: alpha(opacity=25); opacity:0.25; z-index:65534 }

#popDiv { display:none; position:absolute; width:450px; height:300px; z-index:65535; background:#fff; line-height:20px }

#popBody { display:none; text-align:center; padding:17px; font-size:14px }

.pop_r1, .pop_r2, .pop_r3, .pop_r4 { width:10px; height:5px; display:bolck; overflow:hidden; background:url(../images/bg_popup.gif) }

.pop_r1 { background-position:0 -62px; float:left; margin-top:-3px }

.pop_r2 { background-position:-10px -62px; float:right; margin-top:-3px }

.pop_r3 { height:10px; background-position:0 -67px; float:left }

.pop_r4 { height:10px; background-position:-10px -67px; float:right }

.pop_bottom { background:url(../images/bg_popup.gif) repeat-x 0 -82px }

.pop_bg1 { width:10px; background:url(../images/bg_popup2.gif) repeat-y }

.pop_bg2 { width:10px; background:url(../images/bg_popup2.gif) repeat-y right center }

.pop_holder1 { width:100%; height:100%; background:#fff; border:2px solid #68995a; position:absolute; top:0; left:0; z-index:1 }

.pop_holder2 { width:100%; height:100%; background:#000; position:absolute; left:7px; top:7px; filter:alpha(opacity=25); opacity:0.25 }

.pop_title { height:33px; line-height:33px; padding:0 10px; color:#2f5124; font-size:14px; font-weight:bold; background:url(../images/bg_popup.gif) repeat-x }

.pop_close { width:19px; height:19px; display:block; float:right; background:url(../images/bg_popup.gif) no-repeat 0 -38px; border:0; margin:5px 0 0 0; padding:0; cursor:pointer }/*pop v2 style*/

.v2 .pop_r1, .v2 .pop_r2, .v2 .pop_r3, .v2 .pop_r4 { display:none; }

.v2 .pop_bg1, .v2 .pop_bg2, .v2 .pop_bottom { display:none; }

.v2 .pop_holder1 { border:none; border-top:5px solid #2f805d; background:#fafafa; }

.v2 .pop_head { padding:15px 25px 0 25px; }

.v2 .pop_title { background:none; border-bottom:1px solid #E5E5E5; padding:0; }

.v2 .pop_close { width:15px; height:15px; background:url(../images/btn_wk_pop_close.png) no-repeat 0 0; }

.v2 .pop_close:hover { background-position:-15px 0; }

.v2 #popContent { background:#fafafa; }

.v2 #ifrDiv { margin:0 25px; }

.v2 .pop_holder2 { display:none; }/*tasknote style*/

.tasknote { padding-left:10px; position:absolute; z-index:100; }

.tasknote .arrow { background:url(../images/task/arrow.gif) 0 0 no-repeat; overflow:hidden; position:absolute; top:9px; left:0; z-index:1; }

.tasknote .side { width:11px; height:21px; }

.tasknote .up { top:0; left:40px; width:21px; height:11px; }

.tasknote .down { bottom:2px; top:auto; left:40px; width:21px; height:11px; background-position:0 -10px }

.tasknotebody { background:#FFF9E3; border:1px solid #FBE5A3; width:100px; padding-left:4px; font-size:12px; }

.noticeInfo { background:url(../images/task/note.gif) no-repeat 0 center; padding-left:20px; margin:8px 8px 0; line-height:22px; }

.noticelist { margin:0; padding:0; margin-left:26px; }

.noticelist li { margin:0; padding:0; line-height:22px; }

.tasknote .close { width:13px; height:13px; background:url(../images/task/close.gif) no-repeat 0 0; overflow:hidden; position:absolute; top:2px; right:2px; cursor:pointer; z-index:2 }

;/* tangram-dialog */

.tangram-dialog-main { position:absolute; z-index:65535; background:#68995a; line-height:20px }

.tangram-dialog-content { text-align:center; font-size:14px; }

.tangram-dialog { background:#FFFFFF repeat scroll 0 0; border: 2px solid #68995A; height: 100%; position: absolute; width: 100%; z-index: 1; }

.tangram-dialog-title { height:33px; line-height:33px; padding:0 10px; color:#2f5124; font-size:14px; font-weight:bold; background:url(../images/bg_popup.gif) repeat-x }

.tangram-dialog-close { width:19px; height:19px; display:block; position:absolute; top:5px; right:10px; background:url(../images/bg_popup.gif) no-repeat 0 -38px; border:0; padding:0; cursor:pointer; }

.tangram-dialog-title .pop_r1 { background-position:0 -62px; position:absolute; left:0; top:30px; z-index:2; margin:0; }

.tangram-dialog-title .pop_r2 { background-position:-10px -62px; position:absolute; right:0; top:30px; z-index:2; margin:0; }

.tangram-dialog-footer { position:relative; display:block; margin-top:-10px; width:200px; margin:0 auto; padding:10px 0 30px 0; margin-top:-10px; }

.tangram-dialog-footer:after { content:"."; display:block; visibility:hidden; clear:both; height:0; }

.submit { text-align:center; background:#fff; }

.tangram-dialog-button-label { background: url("../images/bg_popbtn.gif") no-repeat scroll 0 -37px transparent; border: medium none; color: #2F5124; cursor: pointer; font-size: 14px; font-weight: bold; height: 32px; line-height: 32px; width: 92px; display:inline-block; }

.tangram-dialog-accept { display:inline; float:left; }

.tangram-dialog-cancel { display:inline; float:right; }#leftContent{ width:734px;}