body {
	font-family: Arial, Helvetica, sans-serif, "宋体", "黑体";
	font-size: 12px;
	font-weight: normal;
	color: #333;
	text-align: center;
	margin-top: 0px;
	padding-top: 0px;
}
a {
	color: #333;
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
}
a:hover{
	color:#000;
	text-decoration:underline;
}
.top {
	width: 100%;
	height: auto;
	background-image: url(../images/topbg.jpg);
	background-repeat: repeat-x;
	background-position: center bottom;
}
.header {
	height: 98px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 0px;
	padding-left: 0px;
	text-align: left;
	position: relative;
}
.clear{
	clear:both;
	}
.logo {
	height: 54px;
	width: 177px;
	float: left;
}
.top_bar {
	float: right;
	width: auto;
	height: auto;
	color: #999;
	padding-top: 10px;
}
.top_bar a:link,.top_bar a:visited {
	color: #3F6699;
}
.top_bar a:hover{
	color:#000;
	text-decoration:underline;
}
.nav {
	position: absolute;
	bottom: 0px;
	left: 100px;
	width: 860px;
}
.nav a {
	background-image: url(../images/navbg.gif);
	background-repeat: no-repeat;
	height: 28px;
	width: 88px;
	display: block;
	float: left;
	line-height: 28px;
	text-align: center;
	margin-right: 5px;
	color: #3F6699;
	font-weight: bold;
	margin-top: 5px;
}
.nav a:hover{
	background-position: left center;
	color: #000;
	text-decoration: none;
	}
.nav a.on ,.nav a.on:hover{
	background-position: left bottom;	
}
span.upload {
	display: block;
	float: left;
	margin-top:5px;
	*margin-top: 0px;
	*position:absolute;
	*top: 5px;
}
.search {
	display: block;
	float: right;
	padding-bottom: 3px;
	padding-right: 0px;
	height: 26px;
	width: 469px;
	background-image: url(../images/search_bg.gif);
	background-repeat: no-repeat;
	padding-top: 3px;
	padding-left: 3px;
	_position: absolute;
	_right: 0px;
	_bottom: -3px;
}
.search ul li {
	float: left;
	width: auto;
	display: block;
}
.search  ul li.search_text a {
	background-image: none;
	float: none;
	margin: 0px;
	padding: 0px;
	height: 32px;
	width: 65px;
	font-weight: normal;
}
.search .search_i {
	height: 26px;
	width: 250px;
	
}
.search_i input{
	*float:left;
	_float:none;
}
.search  .search_s {
	height: auto;
	width: 86px;
	margin-right:-2px;
	_margin-top:2px;
}
.search .search_b {
	width: 50px;
	height: 26px;

}
.search .search_text {
	width: 65px;
}
.s_input {
	height: 24px;
	width: 238px;
	border: 1px solid #89A5D1;
	background-image: url(../images/s_bg.gif);
	background-repeat: repeat-x;
	line-height: 24px;
	vertical-align: middle;
	padding-right: 5px;
	padding-left: 5px;
}

.content {
	height: auto;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 0px;
	padding-left: 0px;
	text-align: left;
	margin-top: 10px;
}
.content .left {
	height: auto;
	width: 255px;
	float: left;
}
.l-list {
	height: auto;
	width: 255px;
	margin-bottom: 10px;
}

.l-list .l-top {
	background-image: url(../images/l-top.gif);
	background-repeat: no-repeat;
	height: 25px;
	width: 225px;
	font-weight: bold;
	color: #3F6699;
	padding-bottom: 5px;
	line-height: 25px;
	padding-left: 30px;
	padding-top: 5px;
}
.l-top span {
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}

.l-list .l-content {
	background-image: url(../images/l-content.gif);
	background-repeat: repeat-y;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	line-height: 25px;
}
.l-list .l-end {
	background-image: url(../images/l-end.gif);
	background-repeat: no-repeat;
	height: 10px;
	width: 255px;
}
.l-list .l-end2 {
	background-image: url(../images/l-end2.gif);
	background-repeat: no-repeat;
	height: 10px;
	width: 255px;
	position: relative;
	margin: 0px;
	padding: 0px;
	font-size: 8px;
}
#left_nav .nav_head {

	margin-bottom: 1px;
	cursor:pointer;
	padding-left:10px;
	padding-right:16px;
	color: #3F6699;
	display:block;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

.nav_body {
	display: none;
}
.nav_body a {
	display: block;
	line-height: 25px;
	color: #3F6699;
	padding-left: 15px;
}
p.minus{
	background-image: url(../images/minus.gif);
	background-repeat: no-repeat;
	background-position: right center;
	background-color: #F1F7FE;
	font-weight: bold;
	}
p.plus{
	background-image: url(../images/plus.gif);
	background-repeat: no-repeat;
	background-position: right center;
	background-color: #F5F5F5;
	}
p.plus:hover{
	background-color: #F1F7FE;
	}
.l-list .tips a{
	font-size: 14px;
	margin-right:10px;
	
}
.l-content.tips a b {
	color: #3F6699;
}

.l-content ul li span.top10{
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	padding-right: 10px;
	padding-left: 10px;
	color: #3F6699;
	display:block;
	float:left;
}
.l-content ul .r1 {
	background-color: #EBF4FE;
}
.l-content ul li {
	line-height: 25px;
	height: 25px;
}
#l-content ul li a{
	width:185px;
	display:block;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;    /* for Opera */
    text-overflow: ellipsis;        /* for IE */
}
.l-list .notice {
	background-color: #EBF4FE;
	height: auto;
	width: 245px;
	padding-right: 5px;
	padding-left: 5px;
}
.notice .roll_n {
	background-color: #FFF;
	height: 25px;
	width: 243px;
	line-height: 25px;
	border: 1px solid #C1E3FF;
}
.roll_n .rolltextmenus {
	width: 170px;
	float: left;
	white-space :  nowrap;
	overflow :  hidden;
	text-overflow :  ellipsis;
	padding-right: 5px;
	padding-left: 5px;
}
.rolltextmenus a {
	color: #06F;
	text-decoration: underline;
}
.rolltextmenus a:hover {
	color: #000;
	text-decoration: none;
}

.roll_n #pageShow {
	text-align: center;
	width: 29px;
	float: left;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #C1E3FF;
	border-left-color: #C1E3FF;
	_height: 27px;
}
.roll_n .roll_r {
	text-align: center;
	width: 32px;
	float: left;
	_height: 11px;
	_padding-top: 6px;
	_padding-bottom: 6px;
}
.l-list .n-end {
	background-image: url(../images/l-end.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 4px;
	width: 255px;
	font-size: 4px;
}


.content .right {
	float: right;
	height: auto;
	width: 685px;
}
.hotread {
	height: auto;
	width: 685px;
}

.right .sort {
	background-image: url(../images/sortbg.jpg);
	background-repeat: no-repeat;
	height: 25px;
	width: 665px;
	padding-top: 12px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	line-height: 25px;
}
.sort .sort_l,.sort .sort_m {
	float: left;
	display: block;
	height: auto;
	width: auto;
}
.updateLsit{
	float: left;
	display: block;
	font-size:14px;
	}
.sort a {
	background-image: url(../images/mall_list_mode.png);
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	display: block;
	float: left;
	margin-top: 5px;
	margin-bottom: 4px;
	margin-right: 5px;
	margin-left: 5px;
}
.sort .u-t-r {
	background-position: -49px -19px;/*up time red 时间由近到远*/ 
}
.sort .d-t-r {
	background-position: -49px 0;/*down time red 时间由远到近 */
}
.sort .u-t-g {
	background-position: -49px -41px;/*up time gray 时间由远到近 灰色*/
}
.sort .d-t-g {
	background-position: -49px -65px;/*down time gray 时间由远到近 灰色*/
}
.sort .u-p-r {
	background-position: 0 -19px;/*up Price red 价格从低到高*/
}
.sort .d-p-r {
	background-position: 0 0;/*down Price red 价格从高到低*/
}
.sort .u-p-g {
	background-position: 0 -41px;/*up Price gray 价格从低到高 灰色*/
}
.sort .d-p-g {
	background-position: 0 -65px;/*down Price gray 价格从低到高 灰色*/
}
span.list_inf {
	float: right;
	display: block;
	height: auto;
	width: auto;
}
.list_inf .red {
	color: #F00;
}
.doc_list {
	height: auto;
	width: auto;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.doc_list .listcon {
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCC;
	padding-top: 10px;
}
.doc_class {
	color: #06F;
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
}

.update_lsit {
	display: block;
	height: auto;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.update_lsit li {
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	line-height: 16px;
	height: 16px;
}
.update_lsit li a:link {
	color: #000;
	text-decoration: none;
}
.update_lsit li a:hover {
	color: #06F;
}

.update_lsit li a .doc_date {
	float: right;
	display: block;
}



.imgs a {
	height: 86px;
	width: 80px;
	display: block;
	text-align: center;
	border: 1px solid #A4A5B7;
	vertical-align: middle;
	padding-top: 5px;
	padding-bottom: 5px;
}
.imgs a:hover {
	border-top-color: #0070CA;
	border-right-color: #0070CA;
	border-bottom-color: #0070CA;
	border-left-color: #0070CA;
}
.listbook {
	float: left;
	height: auto;
	width: auto;
}
.listbook .pasefont {
	line-height: 25px;
	text-align: center;
}
.listcon .listicon {
	float: left;
	width: 30px;
	text-align: center;
	height: 120px;
	padding-top: 5px;
}
.listcon .listnrwz {
	float: left;
	width: 553px;
}
.listtips {
	height: 25px;
	width: auto;
}

.listtips ul li {
	float: left;
	margin-right: 10px;
	line-height: 16px;
	height: 16px;
	padding-top: 4px;
}
.listtips ul li span {
	margin-left: 5px;
}
.listtips .date {
	height: 16px;
	padding-top: 4px;
}
.listnrwz {
	height: auto;
}
.listnrwz h1 a {
	line-height: 25px;
	font-weight: bold;
	color: #3F6699;
	font-size:14px;
	
}
.listnrwz .lcont {
	line-height: 25px;
	height: 75px;
	overflow:hidden;
}
#showpage {
	line-height: 30px;
	margin-bottom: 25px;
	text-align: right;
}
#showpage a {
	margin-right: 5px;
	margin-left: 5px;
}

#footer {
	height: 30px;
	background-color: #f7f7f7;
	line-height: 30px;
}
/*
.copyright{
	text-align:left;
	width:960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 0px;
	padding-left: 0px;
}
.copyright span {
	float: right;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #999;
}
*/
.onload {
	height: 48px;
	width: 175px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -30px;
	margin-left: -87.5px;
	border: 1px solid #89A5D1;
	background-color: #FFF;
	z-index: 999;
	text-align: right;
	padding-bottom: 12px;
}
.onload span {
	background-image: url(../images/onLoad.gif);
	background-repeat: no-repeat;
	background-position: 30px center;
	display: block;
	padding-left: 16px;
	text-align: center;
	height: 16px;
	background-color: #FFF;
	padding-top: 12px;
	padding-bottom: 12px;
}
.best {
	background-image: url(../images/slider.gif);
	background-repeat: no-repeat;
	margin-bottom: 10px;
	height: 150px;
}

.best .prev,.best .slider,.best .next {
	float:left;
}
.best .prev a,.best .next a{
	background-image: url(../images/Control.gif);
	background-repeat: no-repeat;
	display:block;
	width:8px;
	height:60px;
	position:absolute;
}
.best .prev a{
	background-position: 0px -96px;	
	
}
.best .prev a:hover{
	background-position: -32px -96px;	
	
}
.best .next a:hover{
	background-position: -32px -0px;	
	
}
.slider {
	height: 150px;
	width: 660px;
	overflow:hidden;
}
.best .prev a{
	left: 4px;
	top: 45px;
}
.best .next a{
	top: 45px;
	right: 4px;
}
.best .prev,.best .next{
	width:12px;
	height:150px;
	position:relative;
	
}
.slider ul li {
	width: 80px;
	float: left;
	display: inline;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.slider ul li a img {
	padding: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #CCC;
}
.slider ul li a:hover img{
	border-top-color: #254075;
	border-right-color: #254075;
	border-bottom-color: #254075;
	border-left-color: #254075;
}
.slider ul li a p {
	text-align: center;
	line-height: 15px;
	height: 30px;
	overflow: hidden;
	padding-top: 4px;
}

#moneyTop .top10 {
	width: 25px;
	display: block;
	padding: 0px;
	float: left;
	text-align:center;
}
#moneyTop .topName {
	display: block;
	width: 80px;
	float: left;
	overflow:hidden;
	height:25px;
}
.m-title .topName {
	display: block;
	float: left;
	width: 105px;
}
.m-title {
	display: block;
	font-weight: bold;
	width: auto;
	height: 25px;
}
.m-title .all {
	display: block;
	float: left;
	width: 55px;
	text-align: center;
}
.m-title .sy {
	display: block;
	float: left;
	width: 60px;
	text-align: center;
}


#moneyTop .all  {
	float: left;
	width: 55px;
	display: block;
	color: #666;
	text-align: center;
}
#moneyTop .red {
	float: left;
	width: 60px;
	display: block;
	text-align: center;
	color:red;
}.position  {
	line-height: 30px;
	text-align: left;
	color: #666;
	font-family: "宋体";
	padding-left: 5px;
}
.position a {
	text-decoration: underline;
	color: #000;
}
.position a:hover {
	text-decoration: none;
}
.docClass  {
	padding: 10px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #C1E3FF;
	border-bottom-color: #C1E3FF;
	border-left-color: #C1E3FF;
	margin-bottom: 10px;
}
.docClass ul li {
	display: block;
	color: #666;
	font-family: "宋体";
}
.docClass ul li  a strong{
	color: #003399;
}
.docClass ul li  a:hover strong {
	color: #000;
}
.docClass ul li  a {
	color: #333;
	margin-right: 3px;
	margin-left: 2px;
	display: inline;
	line-height: 25px;
}
.docClass ul li  a:hover {
	color: #000;
}
.docClasstitle {
	line-height: 30px;
	background-image: url(../images/t_c1.gif);
	background-repeat: repeat-x;
	height: 30px;
	border: 1px solid #C1E3FF;
	padding-left: 10px;
	font-weight: bold;
	color: #3F6699;
}
#rotate .ui-tabs-nav li {
	float: left;
	margin: 0 0 0 0px; /* be nice to Opera */
}
#rotate ul.ui-tabs-nav {
	height:25px;
	width: 80px;
	font-weight: bold;
	color: #3F6699;
	float: right;
	display: block;

}
#rotate .ui-tabs-nav a{
	color:#3F6699;
	display: block;
	height: 20px;
	width: 25px;
	text-align:center;
	text-decoration: none;
	white-space: nowrap; /* required in IE 6 */
	outline: 0; /* prevent dotted border in Firefox */
	font-weight: bold;
	background-color: #EBF4FE;
	line-height: 20px;
	margin-top: 2px;
}
#rotate .ui-tabs-nav .hover a {
	z-index: 2;
	color: #000;
	background-color: #FFF;
}
#l-content ul{
	display:none;
}
#l-content ul.block{
	display:block;
}
input#textfieldpage{
	width:30px;
	padding:3px;
	height:12px;
	display:inline;
}
button#buttonpage{
	margin:0;
	border:0;
	padding:0;
	font-family: Tahoma;
	font-size: 12px;
	line-height: 21px;
	font-weight: normal;
	background-image: url(../images/go_btn.png);
	height: 21px;
	width: 33px;
	vertical-align: middle;
}
.manu a{
	display:inline;
}
.manu span.t{
	padding-left:5px;
	padding-top:4px;
}